@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">VSSThreeSyncfusionBlazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
		
            	<div class="nav-item px-3">
 	<NavLink class="nav-link" href="diagram-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-diagram" aria-hidden="true"></span><span class="displayText">Diagram</span>
 	</NavLink>
 	</div>
	<div class="nav-item px-3">
 	<NavLink class="nav-link" href="lineargauge-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-lineargauge" aria-hidden="true"></span><span class="displayText">Linear Gauge</span>
 	</NavLink>
 	</div>
	<div class="nav-item px-3">
 	<NavLink class="nav-link" href="mediaquery-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-mediaquery" aria-hidden="true"></span><span class="displayText">Media Query</span>
 	</NavLink>
 	</div>
	<div class="nav-item px-3">
 	<NavLink class="nav-link" href="splitbutton-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-splitbutton" aria-hidden="true"></span><span class="displayText">Split Button</span>
 	</NavLink>
 	</div>
	<div class="nav-item px-3">
 	<NavLink class="nav-link" href="toast-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-toast" aria-hidden="true"></span><span class="displayText">Toast</span>
 	</NavLink>
 	</div>
	<div class="nav-item px-3">
 	<NavLink class="nav-link" href="excel-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-excel" aria-hidden="true"></span><span class="displayText">Excel</span>
 	</NavLink>
 	</div>
	<div class="nav-item px-3">
 	<NavLink class="nav-link" href="powerpoint-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-powerpoint" aria-hidden="true"></span><span class="displayText">PowerPoint</span>
 	</NavLink>
 	</div>
     
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="syncfusioncodegenerator">
 	    <span class="syncfusion-blazor-icons syncfusion-blazor-icon-powerpoint" aria-hidden="true"></span><span class="displayText">Codegenerator</span>
 	</NavLink>
 	</div>
    @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="acgettingstarted">
 	    <span class="syncfusion-blazor-icons syncfusion-blazor-icon-accordion" aria-hidden="true"></span><span class="displayText">Getting st accordion</span>
 	</NavLink>
 	</div> *@
     <div class="nav-item px-3">
        <SfAccordion>
            <AccordionItems>
                <AccordionItem>
                   <HeaderTemplate>
                 	  <span class="syncfusion-blazor-icons syncfusion-blazor-icon-accordion" aria-hidden="true">Accordion</span>
                   </HeaderTemplate>
                   <ContentTemplate>
                            <NavLink class="nav-link" href="acgettingstarted">
                                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-accordion" aria-hidden="true"></span><span class="displayText">Getting st accordion</span>
                            </NavLink>
                            <NavLink class="nav-link" href="acdatabinding">
                                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-accordion" aria-hidden="true"></span><span class="displayText">Data bind accordion</span>
                            </NavLink>
                   </ContentTemplate>
                </AccordionItem>
            </AccordionItems>
        </SfAccordion>

 	</div>



        <div class="nav-item px-3">
            <NavLink class="nav-link" href="auth">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

