@page "/syncfusioncodegenerator"
<h3>Syncfusioncodegenerator</h3>


@code {


    public List<FootbalPlayer> players = new List<FootbalPlayer>();

    FootballPlayer player1 = new FootballPlayer()
    {

    }

}
